body {
text-align:center;
padding-top:100px;
background-color: lightseagreen;
font-size: 100%;
}

h1{font-size: 2rem;}

h2{font-size: 2rem;}

h3{font-size: 1rem;
padding-top: 100px;}

.demo{font-size : 2rem;}
 





